<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>IMDB_Search</display-name>
    <servlet>
        <description></description>
        <display-name>Imdb_Search_Controller</display-name>
        <servlet-name>Imdb_Search_Controller</servlet-name>
        <servlet-class>IMDB_Search.Controllers.Imdb_Search_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Imdb_Search_Controller</servlet-name>
        <url-pattern>/Imdb_Search_Controller</url-pattern>
    </servlet-mapping>
</web-app>